html
  head
    title Notify assistant
    link(rel='stylesheet', type='text/css', href='/css/styles.css')
  body
    header.d-flex.flex-wrap.justify-content-center.py-3.px-1.mb-4
        .header-container.d-flex.flex-wrap.justify-content-between
            a.d-flex.align-items-center.mb-3.mb-md-0.me-md-auto.text-dark.text-decoration-none(href='/')
                span.fs-4 Notify assistant
            a.btn.btn-outline-light(href='/') Home
    .container: div
      h2.mb-4=title
      block content

    footer
    p.d-flex.justify-content-center.text-muted.py-5.small Copyright © CCWang ‧ Powered by CCWang